mixin products_menu(prefix, ...items)
	- wraperPositionLeft = '_wrap_left'
	- wraperPositionRight = '_wrap_right'
	each item, index in items
		div(class=index%2 == 0 ? prefix + wraperPositionLeft+' container' : prefix + wraperPositionRight+' container')
			+e.product-img.sec2-f
				+e.IMG.img(src=item.productImgSrc)
				+e.feature
					+b.product-feature
						+e.block
							+e.SPAN.text
							+e.SPAN.line
			+e.product-body.sec2-f
				+e.H3.title #{item.productTitle}
				+e.content
					+e.H4.heading #{item.productHeading}
					+e.SPAN.tags #{item.productTags}
					+e.P.paragraph #{item.productParagraph}
				+e.btn-block
					+e.A.btn.btn-link(href="#") #{item.productDoubleLine}

